{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>Simple Book Catalog</h1>
        <p>The site contains {{ booksCount }} books by {{ authorsCount }} authors</p>
    </div>
{% endblock %}
